@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-color: #FFF5EE;
}

.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 70%;
	height: auto;
}
.content-section .title h1{
	text-transform: uppercase;
	font-size: 70px;
	letter-spacing: 0.5px;
	font-family: 'Passion One', cursive;
	color: #FFD700;
	text-shadow: 3px 3px black;
}
.content-section .content h3{
	margin-top: 30px;
	color:#28282B;
	font-family: 'Bebas Neue', cursive;
	font-size: 40px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: 'Teko', sans-serif;
	font-size: 25px;
	line-height: 1.5;
	text-align: justify;
}
.content-section .content .button{
	margin-top: 30px;
	margin-bottom: 30px;
}
.content-section .content .button a{
	background-color: #E37383;
	padding:12px 40px;
	font-family: 'Bebas Neue', cursive;
	text-decoration: none;
	color:black;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color: 	#F33A6A	;
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	color:#fff;
}

.image-section .social{
	margin-left: 50px;
	text-align: center;
}
.image-section .social p{
	
	text-align: center;
	font-size: 30px;
	font-family: 'Rowdies', cursive;
	color: #FA8072;
	text-shadow: 2px 1px black;

}
.image-section .social i{
	color:#a52a2a;
	font-size: 50px;
	padding:0px 10px;
	border-radius:3px;
}


.image-section .social i:hover{
	color:#4682B4; 
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.image-section .social{
	text-align: center;
}

}














