*{
    margin: 0;
    padding: 8;
    font-family: sans-serif;
    margin-left: 0%;
}

.main{
    position: static;
    width: 100%;
    height: 100vh;
    background: #eee8ed;
    position: relative;
    overflow-y: scroll;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
nav ul li a:hover{
    color: rgb(98, 0, 255);
}
body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    height: 100vh;
    overflow: hidden;
}
.container{
    background-color: rgb(238, 176, 219);
    width: 700px;
    margin: 200px auto;
    border-radius: 10px;
    padding: 5%;
    margin-top: 0%;
    margin-bottom: 10%;
}
input[type="submit"]{
    width: 30%;
    height: 40px;
    transform: translate(115%, 14%);
    border: 1px solid;
    background: rgb(141, 9, 141);
    border-radius: 25px;
    font-size: 15px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-top: -5%;

  }
  