*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #eff4fd;
  position: relative;
}

nav{
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 100px;
  cursor: pointer;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

nav ul li a:hover{
  color: rgb(255, 136, 219);
}

.tabs {
  height: 60vh;
  width: 80%;
  margin-left: 10%;  
  position: relative;
  overflow: hidden;
}
input[type="radio"] {
  position: absolute;
  left: 0;
  top: 90;
  width: 24px;
  height: 30%;
  outline: 12px solid;
  outline-offset: -25px;
  margin: 0;
  padding: 0;
  z-index: 1;
  appearance: none;
  cursor: pointer;
}
input[type="radio"]:nth-of-type(1) {
  outline-color: #FADCD9;
  top: 10%;
}
input[type="radio"]:nth-of-type(2) {
  outline-color: #F8AFA6;
  top: 35%;
}
input[type="radio"]:nth-of-type(3) {
  outline-color: #FAA0A0;
  top: 60%;
}
input[type="radio"]:checked + .content {
  transform: translateX(0%);
  transition: transform 0.4s ease 0.4s;
}
.content {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
  transform: translateX(-100%);
}
.content:nth-of-type(1) {
  background-color: #FADCD9;
}

.content:nth-of-type(2) {
  background-color: #F8AFA6;
}
.content:nth-of-type(3) {
  background-color: #F79489;
}
.title {
  margin-left: 10%;
  margin-top: 5%;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Rowdies', cursive;
  font-size: 290%;
  color: 		#E5E4E2;
  text-shadow: 5px 3px #36454F;
}

.trial h1{
  margin-left: 4%;
  margin-top: 7%;
  font-size: 40px;
  font-family: 'Rowdies', cursive;
  text-transform: uppercase;
  text-shadow: 2px 1px #7393B3;
  color: #483C32;
  margin-bottom: 20px;
}
.trial h2{
  color: #36454F;
  font-family: 'Rowdies', cursive;
  font-size: 21px;
  line-height: 22px;
}
.trial h3{
  color: #36454F;
  font-size: 20px;
  font-family: 'Rowdies', cursive;
  line-height: 22px;
}
 
.form{
  margin-top: 3%;
}


.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  font-family: 'Teko', sans-serif;
  border-radius: 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  background-color: #FFDEAD;
  text-transform: uppercase;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover {
  top: 0px;
  left: 0px;
  background-color: #FADA5E;

}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}